@import "tailwindcss";

.read-more-btn {
  position: relative;
  padding: 18px 64px;
  background-color: rgb(187, 140, 75);
  color: #000;
  font-size: 14px;
  letter-spacing: 2px;
  border: 2px solid rgb(214, 153, 73);
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover effect (slightly darker like premium UI) */
.read-more-btn:hover {
  background-color: rgb(175, 130, 65);
}


.read-more-btn::before,
.read-more-btn::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(214, 153, 73);
}

.read-more-btn::before {
  top: -6px;
  left: -6px;
  border-right: none;
  border-bottom: none;
}

.read-more-btn::after {
  bottom: -6px;
  right: -6px;
  border-left: none;
  border-top: none;
}
